body{
    background-color: #f5f5f5;
}
nav{
    display: flex;
    background-color: #262626;
   width: 1462px;
    height: 130px;
}
.home{
    color: #DCB47A;
}
.li1{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 320px;
    gap: 68px;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}
nav div{
    width: 32px;
    height: 37px;
    margin-left: 600px;
    margin-top: 49px;
}
.firstsect{
    background-image: url(../assets/img/divanijo.png);
    background-repeat: no-repeat;
    width: 1462px;
    height: 1080px;
    display: flex;
    justify-content: center;
    padding-top: 242px; 
}
.div1 h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 82px;
    line-height: 96px;
    font-weight: 700;
    color: #FFFFFF;
}
.div1padding{
    padding-left: 312px;
}
.div1 p{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 36px;
    padding-top: 161px;
    font-weight: 400;
    padding-left: 310px;
}
.spanp{
    padding-left: 60px;
}
.search{
    margin-top: 23px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.section2 h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 88px;
    margin-left: 320px;
    margin-top: 242px
}
.sit2{
    height: 225px;
    width: 308px;
    padding-top: 30px;
    padding-left:41px ;
}
.maindiv{
    margin-top: 111px;
    border: 2px solid #DCB47A;
    height: 351px;
    width: 363px;
    left: 320px;
}
.bosdiv{
    display: flex;
    margin-left: 300px;
    gap: 55px;
}
.maindiv p{
    padding-top:54px;
    padding-left:41px ;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
.maindiv h5{
    padding-top:15px;
    padding-left:41px ;
}
.flexsi{
    display: flex;
    align-items: baseline;
}
.chop{
    padding-left: 283px;
    position: absolute;
    top: 1928px;
}
.article2{
    background-image: url(../assets/img/livingroom.png);
    height: 645px;
    width: 738px;
    left: 320px;
    top: 2412px; 
    border-radius: 30px;
}
.article1 h1{
    font-family: 'Inter', sans-serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 88px;
}
article{
    display: flex;
    justify-content: center;
    margin-top: 275px;
}
.article3{
    background-image: url(../assets/img/room.png);
    height: 310px;
    width: 522px;
    margin-left: 20px;
}
.bigboss{
    display: flex;
    padding-top: 67px;
}
.article4{
    background-image: url(../assets/img/sofa.png);
    height: 310px;
    width: 522px;
    border-radius: 20px;
    position: absolute;
    top: 2765px;
   left: 882px;
}
.article2 h1{
    color: #DCB47A;
    font-family: 'Work Sans'sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 194px;
    padding-top: 285px;
}
footer{
     background-color: #262626;
     height: 378px;
     width: 1462px;
     margin-top: 245px;
}

footer h1{
    height: 96px;
    width: 829px;
    color: #FFFFFF;font-family: Work Sans;
    font-size: 63px;
    font-weight: 600;
    line-height: 82px;
   
}
.site{
    color: #DCB47A;
}
.onep{
     color: #FFFFFFCC;
     font-family: 'Work Sans'sans-serif;
     font-size: 21px;
     font-weight: 400;
     line-height: 27px;
     padding-top:80px ;
     padding-left: 550px;
}
.foot h1{
    margin-left: 400px;
    padding-top: 71px;
    margin-top: 71px;
}
.lastdiv{
    cursor: pointer;
    margin-top: 36px;
    margin-left: 634px;
    padding-top: 21px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #DCB47A;
    width: 205px;
    height: 64px;
    border-radius: 60px;
}